@keyframes right-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes left-right {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #37393a;
  background-color: #fbf6f2; }

@font-face {
  font-family: "silk-serif-300";
  src: url("../../fonts/silk-serif/Silk Serif Light.otf"); }

@font-face {
  font-family: "silk-serif-100";
  src: url("../../fonts/silk-serif/Silk Serif ExtraLight Italic.otf"); }

@font-face {
  font-family: "silk-serif-400";
  src: url("../../fonts/silk-serif/Silk Serif Regular.otf"); }

@font-face {
  font-family: "silk-serif-700";
  src: url("../../fonts/silk-serif/Silk Serif Bold.otf"); }

@font-face {
  font-family: "silk-serif-italic-400";
  src: url("../../fonts/silk-serif/Silk Serif Regular Italic.otf"); }

@font-face {
  font-family: "silk-serif-semiBold-500";
  src: url("../../fonts/silk-serif/Silk Serif SemiBold.otf"); }

.heading-primary {
  font-family: "silk-serif-400";
  font-size: 6.4rem;
  font-weight: 100;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  animation: right-left 1s ease-in-out; }
  @media only screen and (max-width: 75em) {
    .heading-primary {
      font-size: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 4rem; } }
  @media only screen and (min-width: 112.5em) {
    .heading-primary {
      font-size: 7.4rem; } }
  .heading-primary--before {
    display: block;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.3rem;
    animation: right-left 1s ease-in-out; }
  .heading-primary--italic {
    font-family: "silk-serif-100";
    animation: right-left 1s ease-in-out; }
  .heading-primary--brown {
    font-family: "silk-serif-400";
    color: #8c5431;
    line-height: 1.4;
    font-size: 8rem; }
    @media only screen and (max-width: 75em) {
      .heading-primary--brown {
        font-size: 6.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--brown {
        font-size: 5.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--brown {
        font-size: 5rem; } }
  .heading-primary div {
    margin-top: 1rem;
    animation: right-left 1s ease-in-out; }

.heading-secondary {
  font-family: "silk-serif-400";
  font-size: 4rem;
  font-weight: 400;
  line-height: 1; }
  @media only screen and (max-width: 75em) {
    .heading-secondary {
      font-size: 3.8rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3.4rem; } }
  .heading-secondary--brown {
    color: #8c5431;
    font-family: "silk-serif-semiBold-500"; }
  .heading-secondary--black {
    font-family: "silk-serif-semiBold-500";
    color: #1b262c; }
  .heading-secondary--big {
    font-size: 5rem; }
  .heading-secondary span {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    text-transform: uppercase; }
  .heading-secondary--upper {
    white-space: pre-line;
    text-transform: uppercase;
    line-height: 1.3; }

.heading-tertiary {
  font-family: "silk-serif-700";
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2; }
  .heading-tertiary span {
    font-family: "silk-serif-italic-400";
    font-style: italic;
    font-weight: 100; }

.heading-four {
  position: absolute;
  top: 0;
  left: 60%;
  font-family: "silk-serif-300";
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.8rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-four {
      left: 70%; } }
  .heading-four span {
    position: absolute;
    height: 14rem;
    width: 2rem;
    text-align: center; }
  .heading-four--marca {
    top: 89%;
    left: 45%; }
    @media only screen and (max-width: 75em) {
      .heading-four--marca {
        top: 85%;
        left: 44%; } }
    @media only screen and (max-width: 56.25em) {
      .heading-four--marca {
        top: 36%;
        left: 73%; } }
  .heading-four--experiencia {
    top: 0;
    left: 65%; }
  .heading-four--black {
    color: #1b262c; }
  .heading-four--brown {
    color: #8c5431; }

.paragraph {
  font-family: "silk-serif-400";
  font-size: 3rem;
  text-align: center;
  padding: 12rem;
  white-space: pre-line;
  background-color: #fbf6f2; }
  .paragraph span {
    font-family: "silk-serif-italic-400"; }
  @media only screen and (max-width: 75em) {
    .paragraph {
      font-size: 2.8rem;
      padding: 7rem; } }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      font-size: 2.1rem;
      padding: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      font-size: 1.6rem;
      padding: 3rem; } }
  @media only screen and (min-width: 112.5em) {
    .paragraph {
      font-size: 3rem; } }

.u-contenedor {
  max-width: 120rem !important;
  width: 95% !important;
  margin: 0 auto !important; }
  @media only screen and (max-width: 56.25em) {
    .u-contenedor {
      width: 96% !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-contenedor {
      width: 98% !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1.3rem !important; } }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1.1rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-small {
      margin-bottom: 0.9rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 4.8rem !important; } }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 4.6rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 4.4rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 7rem !important; }
  @media only screen and (max-width: 75em) {
    .u-margin-bottom-big {
      margin-bottom: 6rem !important; } }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 4.5rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-huge {
      margin-bottom: 9.8rem !important; } }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-huge {
      margin-bottom: 9.6rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-huge {
      margin-bottom: 9.4rem !important; } }

.u-margin-top-medium {
  margin-top: 3rem !important; }

.u-text-center {
  text-align: center !important; }

.u-window-small {
  height: 20rem;
  margin-bottom: 10rem;
  background-color: #fbf6f2; }

.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .banner--index {
    height: 40rem;
    background-image: url(../img/imagenbanner.jpg); }
    @media only screen and (max-width: 75em) {
      .banner--index {
        height: 35rem; } }
    @media only screen and (max-width: 56.25em) {
      .banner--index {
        height: 30rem; } }
    @media only screen and (max-width: 37.5em) {
      .banner--index {
        height: 25rem; } }
  .banner--marca {
    padding: 15rem 0;
    background-image: url(../img/img_marca/banner.jpg);
    background-size: cover;
    background-position: top;
    margin-top: -25rem; }
    @media only screen and (max-width: 75em) {
      .banner--marca {
        padding: 15rem 0; } }
    @media only screen and (max-width: 56.25em) {
      .banner--marca {
        padding: 10rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .banner--marca {
        padding: 5rem 0; } }

.button,
button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2rem;
  border-radius: 50%;
  border: none;
  cursor: pointer; }
  .button--light,
  button--light {
    width: 12rem;
    height: 12rem;
    color: #fff;
    border: 1px solid #fff; }
  .button--dark,
  button--dark {
    width: 15rem;
    height: 15rem;
    color: #1b262c;
    border: 1px solid #1b262c; }
  .button--todos, .button--productos, .button--contacto,
  button--todos,
  button--productos,
  button--contacto {
    position: absolute;
    width: 15rem;
    height: 15rem;
    font-size: 1.2rem;
    color: #1b262c;
    background-color: #edece7;
    z-index: 100; }
  .button--todos,
  button--todos {
    left: 50%;
    bottom: -10rem;
    transform: translateX(-50%); }
  .button--productos,
  button--productos {
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .button--productos,
      button--productos {
        left: 70%; } }
  .button--contacto,
  button--contacto {
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 75em) {
      .button--contacto,
      button--contacto {
        width: 10rem;
        height: 10rem; } }
  .button--marca, .button--experiencia,
  button--marca,
  button--experiencia {
    width: 15rem;
    height: 15rem;
    font-size: 1.2rem;
    color: #1b262c;
    background-color: #fff; }
  .button--animation,
  button--animation {
    animation: top-bottom 0.8s 0.6s ease-in-out backwards; }

@font-face {
  font-family: 'silk-serif-400';
  src: url("../../fonts/silk-serif/Silk Serif Regular.otf"); }

.categorias {
  position: relative;
  display: flex;
  justify-content: center; }
  .categorias__imagen {
    display: block;
    width: 30%;
    border-top-left-radius: 31rem;
    border-top-right-radius: 31rem; }
    @media only screen and (max-width: 56.25em) {
      .categorias__imagen {
        width: 50%; } }
    @media only screen and (max-width: 56.25em) {
      .categorias__imagen {
        width: 60%; } }
  .categorias__titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    text-align: center;
    font-family: "silk-serif-400";
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff; }
    @media only screen and (max-width: 75em) {
      .categorias__titulo {
        font-size: 4.3rem; } }
    @media only screen and (max-width: 56.25em) {
      .categorias__titulo {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .categorias__titulo {
        font-size: 2.5rem; } }
  .categorias__flotante {
    position: absolute;
    font-family: "silk-serif-300";
    color: #fff; }
    @media only screen and (max-width: 75em) {
      .categorias__flotante {
        display: none; } }
    .categorias__flotante--arriba {
      text-align: left;
      top: -3rem;
      left: 0;
      white-space: pre-line; }
    .categorias__flotante--abajo {
      text-align: right;
      white-space: pre-line;
      bottom: -6rem;
      right: 0; }

.contacto {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  column-gap: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .contacto {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .contacto__item:first-child {
      text-align: center; } }
  .contacto__item:nth-child(2) {
    position: relative;
    align-self: flex-end;
    padding-left: 2.5rem; }
  .contacto__titulo {
    text-transform: unset; }
    @media only screen and (max-width: 56.25em) {
      .contacto__titulo {
        text-align: center; } }
  .contacto__imagen--izquierda {
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .contacto__imagen--izquierda {
        width: 60%; } }
  .contacto__imagen--derecha {
    width: 90%; }
    @media only screen and (max-width: 56.25em) {
      .contacto__imagen--derecha {
        display: none; } }
  .contacto__form {
    margin-bottom: 5rem; }
  .contacto__input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1b262c;
    padding: 2rem 0; }
    .contacto__input:focus {
      outline: none; }

.cosmeticos {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 75em) {
    .cosmeticos {
      flex-direction: column; } }
  .cosmeticos__item:nth-child(1) {
    margin-left: 10vw;
    flex: 0 0 calc(25% - 1rem);
    align-self: flex-end; }
    @media only screen and (max-width: 75em) {
      .cosmeticos__item:nth-child(1) {
        margin-left: 0;
        flex: 0 0 100%;
        align-self: unset;
        text-align: center; } }
  .cosmeticos__item:nth-child(2) {
    flex: 0 0 calc(25% - 1rem); }
    @media only screen and (max-width: 75em) {
      .cosmeticos__item:nth-child(2) {
        padding: 5rem 15rem;
        text-align: center; } }
    @media only screen and (max-width: 56.25em) {
      .cosmeticos__item:nth-child(2) {
        padding: 4rem 10rem; } }
    @media only screen and (max-width: 37.5em) {
      .cosmeticos__item:nth-child(2) {
        padding: 3rem 8rem; } }
  .cosmeticos__item:nth-child(3) {
    flex: 0 0 calc(50% - 20rem); }
    @media only screen and (max-width: 75em) {
      .cosmeticos__item:nth-child(3) {
        flex: 0 0 100%;
        align-self: unset;
        text-align: center; } }
  .cosmeticos__imagen {
    border-top-left-radius: 46%;
    border-top-right-radius: 46%;
    max-width: 100%; }
    @media only screen and (max-width: 75em) {
      .cosmeticos__imagen {
        max-width: 30%; } }
    @media only screen and (max-width: 37.5em) {
      .cosmeticos__imagen {
        max-width: 40%; } }
  .cosmeticos__producto {
    max-width: 100%; }
    @media only screen and (max-width: 75em) {
      .cosmeticos__producto {
        width: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .cosmeticos__producto {
        width: 80%; } }
  .cosmeticos p {
    margin-bottom: 7rem; }
    @media only screen and (max-width: 75em) {
      .cosmeticos p {
        margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .cosmeticos p {
        margin-bottom: 5rem; } }

.experiencia {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; }
  @media only screen and (max-width: 56.25em) {
    .experiencia {
      grid-template-columns: repeat(1, 1fr);
      gap: 3rem; } }
  .experiencia__detalles {
    align-self: flex-end;
    padding: 10rem 0; }
    @media only screen and (max-width: 75em) {
      .experiencia__detalles {
        padding: 4rem 0; } }
  .experiencia__fondo {
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .experiencia__fondo {
        position: relative; } }
  .experiencia__iconos {
    align-self: center;
    text-align: center; }
  .experiencia__imagen {
    width: 85%;
    border-top-right-radius: 31rem;
    border-top-left-radius: 31rem; }
    @media only screen and (max-width: 56.25em) {
      .experiencia__imagen {
        width: 50%; } }
    @media only screen and (max-width: 56.25em) {
      .experiencia__imagen {
        width: 60%; } }
  .experiencia__lista {
    list-style: none; }
  .experiencia__item:not(:last-child) {
    margin-bottom: 5rem; }
  .experiencia__icono {
    height: 8rem;
    width: auto; }
  .experiencia__titulo {
    position: absolute;
    top: 25%;
    left: 0;
    text-transform: uppercase;
    font-size: 4.5vw;
    width: 45%; }
    @media only screen and (max-width: 56.25em) {
      .experiencia__titulo {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        text-align: center;
        margin-bottom: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .experiencia__descripcion {
      width: 90%;
      margin: 0 auto;
      text-align: center; } }

.marca {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .marca {
      grid-template-columns: repeat(1, 1fr);
      text-align: center; } }
  .marca__item:nth-child(1) {
    position: relative; }
    @media only screen and (max-width: 75em) {
      .marca__item:nth-child(1) {
        margin-bottom: 5rem; } }
  .marca__item:nth-child(2) {
    position: relative;
    width: 80%; }
    @media only screen and (max-width: 75em) {
      .marca__item:nth-child(2) {
        width: 100%; } }
  .marca__imagen {
    width: 100%;
    height: auto; }
    @media only screen and (max-width: 56.25em) {
      .marca__imagen {
        width: 50%; } }
  .marca__parrafo:not(:last-child) {
    margin-bottom: 3rem; }
  .marca__parrafo {
    text-align: left; }
  .marca__textura-crema {
    position: absolute;
    bottom: 8%;
    right: -8%;
    width: 30%; }
    @media only screen and (max-width: 75em) {
      .marca__textura-crema {
        display: none; } }

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .productos {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .productos {
      grid-template-columns: repeat(1, 1fr);
      gap: 6rem; } }
  .productos__imagen {
    width: 100%; }
  .productos__detalles {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .productos__detalles {
        flex-direction: column;
        align-items: center;
        font-size: 12rem; } }
  .productos__descripcion {
    display: flex;
    flex-direction: column; }
  .productos__precio {
    font-weight: 700; }
  .productos p {
    font-size: 1.4rem; }
    @media only screen and (max-width: 37.5em) {
      .productos p {
        font-size: 1.6rem; } }
  .productos span {
    font-size: 1.8rem;
    font-weight: lighter;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .productos span {
        font-size: 1.8rem; } }

.rutina {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 56.25em) {
    .rutina {
      grid-template-columns: repeat(1, 1fr); } }
  .rutina__item {
    position: relative; }
  .rutina__item:first-child a {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .rutina__item:last-child {
    padding-top: 10rem;
    padding-left: 10rem;
    width: 80%; }
    @media only screen and (max-width: 75em) {
      .rutina__item:last-child {
        padding-top: 5rem;
        padding-left: 5rem;
        width: 90%; } }
    @media only screen and (max-width: 56.25em) {
      .rutina__item:last-child {
        width: 95%; } }
    @media only screen and (max-width: 37.5em) {
      .rutina__item:last-child {
        width: 98%;
        padding-left: 2rem; } }
  .rutina__imagen {
    width: 100%;
    display: block; }
    @media only screen and (max-width: 56.25em) {
      .rutina__imagen {
        height: 40rem;
        object-fit: cover; } }
    @media only screen and (max-width: 37.5em) {
      .rutina__imagen {
        height: 35rem; } }
  .rutina__list {
    margin-top: 0; }
    .rutina__list-item {
      padding: 1.5rem 0;
      border-top: 1px solid #1b262c; }
      .rutina__list-item:last-of-type {
        border-bottom: 1px solid #1b262c; }
  .rutina__flotante {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 95%; }
    @media only screen and (max-width: 75em) {
      .rutina__flotante {
        width: 20%; } }
    @media only screen and (max-width: 56.25em) {
      .rutina__flotante {
        width: 25%; } }
    @media only screen and (max-width: 37.5em) {
      .rutina__flotante {
        width: 30%; } }
    .rutina__flotante p {
      font-size: 1.2rem;
      text-transform: uppercase; }

.suscripcion {
  display: grid;
  align-items: center;
  gap: 8rem;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 56.25em) {
    .suscripcion {
      grid-template-columns: repeat(1, 1fr);
      text-align: center; } }
  .suscripcion__input, .suscripcion__button {
    font-size: 2rem;
    border: none;
    padding: 1.5rem;
    background-color: #fbfaf8; }
    .suscripcion__input:focus, .suscripcion__button:focus {
      outline: none; }
  .suscripcion__button {
    background-color: transparent; }
  .suscripcion__input {
    display: inline-block;
    width: 100%;
    border: 1px solid #1b262c;
    margin-right: -6rem; }
  .suscripcion__button {
    cursor: pointer; }
  .suscripcion__imagen {
    width: 100%; }

.footer {
  padding: 8rem 0;
  background-color: #fbf6f2; }
  @media only screen and (max-width: 75em) {
    .footer {
      padding: 6rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 4rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 3rem 0; } }
  .footer__logo {
    height: 4.5rem;
    width: auto; }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 4rem; }
    @media only screen and (max-width: 75em) {
      .footer__container {
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__container {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__container {
        margin-bottom: 1rem; } }
  .footer__list {
    list-style: none; }
  .footer__section-list, .footer__redes {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 3rem; }
  .footer__item {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700; }
    .footer__item:not(:last-child) {
      margin-bottom: 3rem; }
  .footer__link {
    text-decoration: none;
    color: #a49f95; }
    .footer__link--correo, .footer__link--telefono, .footer__link--direccion {
      font-size: 1.4rem; }
  .footer__redes {
    margin-bottom: 0.5rem; }
  .footer__icono {
    font-size: 2rem;
    color: #1b262c;
    margin-right: 2rem; }
  .footer__copy {
    display: flex;
    padding: 3rem 0 0 0;
    border-top: 1px solid #1b262c; }
    @media only screen and (max-width: 56.25em) {
      .footer__copy {
        padding: 2rem 0 0 0;
        flex-direction: column;
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .footer__copy {
        padding: 1rem 0 0 0; } }
    .footer__copy-item {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase; }
      .footer__copy-item:not(:last-child) {
        margin-right: 12rem; }
        @media only screen and (max-width: 56.25em) {
          .footer__copy-item:not(:last-child) {
            margin-right: 0; } }

@font-face {
  font-family: "silk-serif-300";
  src: url("../../fonts/silk-serif/Silk Serif Light.otf"); }

@font-face {
  font-family: "silk-serif-400";
  src: url("../../fonts/silk-serif/Silk Serif Regular.otf"); }

.header {
  position: relative;
  background-size: cover;
  background-position: top; }
  .header--index {
    background-image: url(../img/fondoindex.jpg);
    height: 100vh; }
  .header--nuestraMarca {
    height: auto;
    background-color: #fbf6f2; }
  .header--productos {
    height: 50rem;
    background-image: url(../img/img_productos/portadaproductos.jpg); }
  .header--contacto {
    height: auto;
    background-color: #fbfaf8; }
  .header--experiencia {
    height: 100vh;
    background-color: #fbf6f2; }
  .header__content-box {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .header__content-box {
        top: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .header__content-box {
        top: 75%; } }
    .header__content-box--experiencia {
      top: 56%; }
      @media only screen and (max-width: 56.25em) {
        .header__content-box--experiencia {
          top: 70%; } }
      @media only screen and (max-width: 37.5em) {
        .header__content-box--experiencia {
          top: 65%; } }
  .header__button {
    cursor: pointer;
    color: #fff;
    font-size: 2.5rem;
    animation: top-bottom 0.8s 0.6s ease-in-out backwards; }
  .header__marca {
    position: relative;
    margin-top: 10rem;
    padding-bottom: 15rem;
    text-align: center; }
    .header__marca-imagen--derecha, .header__marca-imagen--izquierda {
      position: absolute;
      top: 0;
      width: 13%;
      object-fit: cover; }
    .header__marca-imagen--derecha {
      right: 0; }
    .header__marca-imagen--izquierda {
      left: 0; }
    .header__marca-imagen--centro {
      width: 30vw;
      border-top-left-radius: 34rem;
      border-top-right-radius: 34rem; }
      @media only screen and (max-width: 75em) {
        .header__marca-imagen--centro {
          width: 35vw; } }
      @media only screen and (max-width: 56.25em) {
        .header__marca-imagen--centro {
          width: 45vw; } }
      @media only screen and (max-width: 37.5em) {
        .header__marca-imagen--centro {
          width: 55vw; } }
    .header__marca-slogan {
      position: absolute;
      top: -2%;
      left: 50%;
      font-size: 1.5rem;
      color: #8c5431;
      text-transform: uppercase;
      transform: translate(-50%, -50%); }
  .header__flotante-titulo {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-family: "silk-serif-400";
    text-align: center;
    text-transform: uppercase;
    color: #1b262c;
    font-size: 6rem;
    word-spacing: 10rem; }
    .header__flotante-titulo span {
      color: #fff;
      font-size: inherit; }
  .header__marca-parrafo {
    font-family: "silk-serif-300";
    white-space: pre-line; }
    @media only screen and (max-width: 37.5em) {
      .header__marca-parrafo {
        display: none; } }
    .header__marca-parrafo--izquierda, .header__marca-parrafo--derecha {
      position: absolute;
      bottom: 15rem; }
      @media only screen and (max-width: 56.25em) {
        .header__marca-parrafo--izquierda, .header__marca-parrafo--derecha {
          bottom: 5rem; } }
    .header__marca-parrafo--izquierda {
      left: 10vw; }
      @media only screen and (max-width: 75em) {
        .header__marca-parrafo--izquierda {
          left: 5vw; } }
    .header__marca-parrafo--derecha {
      right: 10vw;
      text-align: right; }
      @media only screen and (max-width: 75em) {
        .header__marca-parrafo--derecha {
          right: 5vw; } }
    .header__marca-parrafo span {
      text-transform: uppercase; }
  .header__flotante--experiencia {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%; }

.nav {
  padding-top: 3.5rem; }
  .nav__list {
    list-style: none;
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .nav__list {
        visibility: hidden; } }
  .nav__item:not(:last-child) {
    margin-right: 6.5rem; }
  .nav__link {
    text-decoration: none; }
    .nav__link--light {
      color: #fff; }
    .nav__link--dark {
      color: #1b262c; }
  .nav__logo {
    height: 4.5rem;
    width: auto; }

.nav--light .u-contenedor,
.nav--dark .u-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem; }

.nav--light .u-contenedor {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }

.nav--dark .u-contenedor {
  border-top: 1px solid #1b262c;
  border-bottom: 1px solid #1b262c; }

.nav--mobile {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .nav--mobile {
      display: block; } }

.nav--mobile .nav__list {
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff; }

.nav--mobile .nav__item {
  margin: 1rem 0 3rem 0; }

.nav--mobile .nav__link {
  font-size: 1.6rem; }

.seccion-nuestra-marca {
  background-color: #fff;
  padding-bottom: 7rem; }

.seccion-productos {
  position: relative;
  padding: 10rem 0;
  background-color: #fbf6f2; }

.seccion-categorias {
  position: relative;
  padding: 0 0 10rem 0;
  background-color: #8c5431; }

.seccion-marca {
  position: relative;
  padding: 10rem 0 40rem 0;
  background-color: #fbfaf8; }
  @media only screen and (max-width: 75em) {
    .seccion-marca {
      padding: 0 0 30rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .seccion-marca {
      padding: 0 0 35rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .seccion-marca {
      padding: 0 0 30rem 0; } }

.seccion-suscripcion {
  padding: 5rem;
  border-top: 1px solid #1b262c;
  border-bottom: 1px solid #1b262c; }

.seccion-rutina {
  position: relative;
  background-color: #fff;
  padding-bottom: 12rem; }

.seccion-experiencia {
  position: relative;
  padding: 6rem 0 12rem 0;
  background-color: #fff; }
  @media only screen and (max-width: 75em) {
    .seccion-experiencia {
      padding: 5rem 0 10rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .seccion-experiencia {
      padding: 4rem 0 8rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .seccion-experiencia {
      padding: 2rem 0 6rem 0; } }

.seccion-contacto {
  padding: 6rem 0;
  background-color: #fbfaf8; }
