.seccion-nuestra-marca {
  background-color: $color-white;
  padding-bottom: 7rem;
}

.seccion-productos {
  position: relative;
  padding: 10rem 0;
  background-color: $color-section--light;
}

.seccion-categorias {
  position: relative;
  padding: 0 0 10rem 0;
  background-color: $color-primary;
}

.seccion-marca {
  position: relative;
  padding: 10rem 0 40rem 0;
  background-color: $color-section--dark;

  @include responsive(tab-hor) {
    padding: 0 0 30rem 0;
  }

  @include responsive(tab-ver) {
    padding: 0 0 35rem 0;
  }

  @include responsive(phone) {
    padding: 0 0 30rem 0;
  }
}

.seccion-suscripcion {
  padding: 5rem;
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
}

.seccion-rutina {
  position: relative;
  background-color: $color-white;
  padding-bottom: 12rem;
}

.seccion-experiencia {
  position: relative;
  padding: 6rem 0 12rem 0;
  background-color: $color-white;

  @include responsive(tab-hor) {
    padding: 5rem 0 10rem 0;
  }

  @include responsive(tab-ver) {
    padding: 4rem 0 8rem 0;
  }

  @include responsive(phone) {
    padding: 2rem 0 6rem 0;
  }
}

.seccion-contacto {
  padding: 6rem 0;
  background-color: $color-section--dark;
}
