.footer {
  padding: 8rem 0;
  background-color: $color-section--light;

  @include responsive(tab-hor) {
    padding: 6rem 0;
  }

  @include responsive(tab-ver) {
    padding: 4rem 0;
  }

  @include responsive(phone) {
    padding: 3rem 0;
  }

  &__logo {
    height: 4.5rem;
    width: auto;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 4rem;

    @include responsive(tab-hor) {
      margin-bottom: 3rem;
    }

    @include responsive(tab-ver) {
      margin-bottom: 2rem;
    }

    @include responsive(phone) {
      margin-bottom: 1rem;
    }
  }

  &__list {
    list-style: none;
  }

  &__section-list,
  &__redes {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  &__item {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-grey-dark;

    &--correo,
    &--telefono,
    &--direccion {
      font-size: 1.4rem;
    }
  }

  &__redes {
    margin-bottom: 0.5rem;
  }

  &__icono {
    font-size: 2rem;
    color: $color-black;
    margin-right: 2rem;
  }

  &__copy {
    display: flex;
    padding: 3rem 0 0 0;
    border-top: 1px solid $color-black;

    @include responsive(tab-ver) {
      padding: 2rem 0 0 0;
      flex-direction: column;
      text-align: center;
    }

    @include responsive(phone) {
      padding: 1rem 0 0 0;
    }

    &-item {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      &:not(:last-child) {
        margin-right: 12rem;

        @include responsive(tab-ver) {
          margin-right: 0;
        }
      }
    }
  }
}
