// UTILIDADES
.u-contenedor {
    max-width: 120rem !important;
    width: 95% !important;
    margin: 0 auto !important;
  //Responsive
    @include responsive(tab-ver) {
      width: 96% !important;
    }
  
    @include responsive(phone) {
      width: 98% !important;
    }
  }
  
  .u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
  
    @include responsive(tab-ver) {
      margin-bottom: 1.3rem !important;
    }
  
    @include responsive(tab-ver) {
      margin-bottom: 1.1rem !important;
    }
  
    @include responsive(phone) {
      margin-bottom: 0.9rem !important;
    }
  }
  
  .u-margin-bottom-medium {
    margin-bottom: 5rem !important;
  
    @include responsive(tab-ver) {
      margin-bottom: 4.8rem !important;
    }
  
    @include responsive(tab-ver) {
      margin-bottom: 4.6rem !important;
    }
  
    @include responsive(phone) {
      margin-bottom: 4.4rem !important;
    }
  }
  
  .u-margin-bottom-big {
    margin-bottom: 7rem !important;
  
    @include responsive(tab-hor) {
      margin-bottom: 6rem !important;
    }
  
    @include responsive(tab-ver) {
      margin-bottom: 5rem !important;
    }
  
    @include responsive(phone) {
      margin-bottom: 4.5rem !important;
    }
  }
  
  .u-margin-bottom-huge {
    margin-bottom: 10rem !important;
  
    @include responsive(tab-ver) {
      margin-bottom: 9.8rem !important;
    }
  
    @include responsive(tab-ver) {
      margin-bottom: 9.6rem !important;
    }
  
    @include responsive(phone) {
      margin-bottom: 9.4rem !important;
    }
  }
  
  .u-margin-top-medium {
    margin-top: 3rem !important;
  }
  
  .u-text-center {
    text-align: center !important;
  }
  
  .u-window-small {
    height: 20rem;
    margin-bottom: 10rem;
    background-color: $color-section--light;
  }
  