// FONTS STYLES
$font-body: 'Darker Grotesque', sans-serif;

// COLORS
$color-black: #1b262c;
$color-white: #fff;
$color-section: #fff;
$color-section--dark: #fbfaf8;
$color-section--light: #fbf6f2;
$color-primary: #8c5431;
$color-grey: #edece7;
$color-grey-dark: #a49f95;
$color-body: #37393a;
