.cosmeticos {
    display: flex;
    justify-content: space-between;
  
    @include responsive(tab-hor) {
      flex-direction: column;
    }
  
    &__item {
      &:nth-child(1) {
        margin-left: 10vw;
        flex: 0 0 calc(25% - 1rem);
        align-self: flex-end;
  
        @include responsive(tab-hor) {
          margin-left: 0;
          flex: 0 0 100%;
          align-self: unset;
          text-align: center;
        }
      }
  
      &:nth-child(2) {
        flex: 0 0 calc(25% - 1rem);
  
        @include responsive(tab-hor) {
          padding: 5rem 15rem;
          text-align: center;
        }
  
        @include responsive(tab-ver) {
          padding: 4rem 10rem;
        }
  
        @include responsive(phone) {
          padding: 3rem 8rem;
        }
      }
  
      &:nth-child(3) {
        flex: 0 0 calc(50% - 20rem);
        @include responsive(tab-hor) {
          flex: 0 0 100%;
          align-self: unset;
          text-align: center;
        }
      }
    }
  
    &__imagen {
      border-top-left-radius: 46%;
      border-top-right-radius: 46%;
      max-width: 100%;
  
      @include responsive(tab-hor) {
        max-width: 30%;
      }
  
      @include responsive(phone) {
        max-width: 40%;
      }
    }
  
    &__producto {
      max-width: 100%;
  
      @include responsive(tab-hor) {
        width: 50%;
      }
  
      @include responsive(phone) {
        width: 80%;
      }
    }
    p {
      margin-bottom: 7rem;
  
      @include responsive(tab-hor) {
        margin-bottom: 6rem;
      }
  
      @include responsive(tab-ver) {
        margin-bottom: 5rem;
      }
    }
  }
  