.marca {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  position: relative;

  @include responsive(tab-ver) {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  &__item:nth-child(1) {
    position: relative;
    @include responsive(tab-hor) {
      margin-bottom: 5rem;
    }
  }

  &__item:nth-child(2) {
    position: relative;
    width: 80%;
    @include responsive(tab-hor) {
      width: 100%;
    }

    @include responsive(tab-ver) {
    }

    @include responsive(phone) {
    }
  }

  &__imagen {
    width: 100%;
    height: auto;

    @include responsive(tab-ver) {
      width: 50%;
    }
  }

  &__parrafo:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__parrafo {
    text-align: left;
  }

  &__textura-crema {
    position: absolute;
    bottom: 8%;
    right: -8%;
    width: 30%;

    @include responsive(tab-hor) {
      display: none;
    }
  }
}
